################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PoloniexSharp/.vs/PoloniexSharp/v15/Server/sqlite3
